<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="hehe" class="com.atguigu.boot.bean.Pet">
        <property name="age" value="32"></property>
        <property name="name" value="tom"></property>
    </bean>

    <bean id="haha" class="com.atguigu.boot.bean.Person">
        <property name="name" value="曹操"></property>
        <property name="age" value="42"></property>
        <property name="pet" ref="hehe"></property>
    </bean>


</beans>